// Basic colors
$main-titles: rgba(52, 192, 235, 0.913);
$basic-color-black:black;
$basic-color-white: white;
$box-shadow-gold: rgba(248, 246, 214, 0.507);
$box-shadow-light: rgba(242, 233, 233, 0.24);
$main-background-color: rgba(14, 13, 13, 0.875);
$background-transparency: #fffffff0;
$error-backgroud: rgba(235, 88, 47, 0.883);





